<div class="container">
  <h2>{{ title }}</h2>

  <p>{{ getInfo() }}</p>

  <p>{{ info }}</p>

  <p>Obliczone wyrażenie: {{ (2 + 2 - 1) * 4 }}</p>

  <p>Obliczone wyrażęnie i wywołanie metody: {{ (50 + 50) / getNumber() }}</p>

  <p>Wyświetlenie typu boolean: {{ show }}</p>
  <p>
    Wywołanie "skróconego ifa":
    {{ show ? "Zmienna show jest true" : "Zmiena show jest false" }}
  </p>

  <hr>
  <h2>Nieprawidłowe wyołania interpolacji</h2>
  <p>Zmuszenie do wywołani na metodzie funkcji toString():</p>
  <p>{{showObject}}</p>
  <p>Metoda zwraca obiekt nie typ prosty:</p>
  <p>{{showObject()}}</p>
  <p>Wywołanie zmiennej do której przypisany jest obiekt:</p>
  <p>{{objectProp}}</p>
</div>
