<div class="container">
  <a class="btn" href="/ng-model/exercise">Zadania do wykonania</a>
  <h2>Ng Model</h2>
  <p>Żeby ng-Model działał, należy zaimportować FormsModule w app.module.ts</p>

  <input placeholder="Tradycyjny ngModel" [(ngModel)]="inputModel">
  <p>Wartość: {{inputModel}}</p>

  <input placeholder="ngModel rozbity na property i event binding"
         [ngModel]="inputProperty"
         (ngModelChange)="inputProperty = $event">
  <p>Wartość: {{inputProperty}}</p>

  <input placeholder="Własny ngModel ;-)"
         [value]="ownModel"
         (change)="ownModel = $event.target.value">
  <p>Wartość pola: {{ownModel}}</p>

  <p>Textarea ze zbindowaną wartością:</p>
  <textarea [(ngModel)]="texAreaModel"></textarea>

  <p>Przycisk włączy się gdy pierwsze pole będzie miało wartość:</p>
  <button class="btn"
          [disabled]="inputModel===''">{{inputModel === '' ? 'Wyłączony' : 'Włączony'}}</button>
</div>
