<div class="container">
  <a class="btn" href="/ng-for/exercise">Zadania do wykonania</a>
  <h2>Użycie ngFor</h2>
  <h5>Wyświetlenie wszystkich elementów:</h5>
  <ul class="collection">
    <li class="collection-item" *ngFor="let item of list"> {{item}}</li>
  </ul>

  <h5>Wyświetlenie z indeksem:</h5>
  <ul class="collection">
    <li class="collection-item" *ngFor="let item of list; let i = index"> {{i}}. {{item}}</li>
  </ul>

  <h5>Wyświetlenie pierwszy i ostatni index:</h5>
  <ul class="collection">
    <ng-container *ngFor="let item of list; let first = first; let last = last">
      <li class="collection-item" *ngIf="first">
        {{item}}
      </li>
      <li class="collection-item" *ngIf="last">
        {{item}}
      </li>
    </ng-container>
  </ul>

  <h5>Wyświetlenie parzysty i nieparzysty element:</h5>
  <ul class="collection">
    <ng-container *ngFor="let item of list; let even = even; let odd = odd">
      <li class="collection-item" *ngIf="even">
        {{item}}
      </li>
      <li class="collection-item active" *ngIf="odd">
        {{item}}
      </li>
    </ng-container>
  </ul>
</div>
