<div class="container">
  <h2>Ćwiczenia z używania pipe</h2>
  <h5>1. Użyj 'lowercase' i 'uppercase'</h5>
  <p>Wyświetl pole 'titleBig': ...</p>
  <p>Wyświetl pole 'titleSmall': ...</p>

  <br>

  <h5>2. Użyj pipe 'number' i wyświetl pole 'pi'</h5>
  <a href="https://angular.io/api/common/DecimalPipe">Dokumentacja</a>
  <p>Wyświetl trzy miejsca po przecinku: ...</p>
  <p>Wyświetl 4 miejsca po przecinku: ...</p>
  <p>Wyświetl tylko liczbę całkowitą: ...</p>

  <br>

  <h5>3. Użyj pipe 'currency' i wyświetl pole 'money'</h5>
  <a href="https://angular.io/api/common/CurrencyPipe">Dokumentacja</a>
  <p>Wyświetl jako euro: ...</p>
  <p>Wyświetl jako dolar: ...</p>
  <p>Wyświetl jako złotówki: ...</p>
  <p>Wyświetl jako złotówki i 4 miejsca po przecinku: ...</p>

  <br>

  <h5>4. Wykorzystaj obiekt 'weekdays'. Uzyj pipe 'i18nSelect' do wyświetlenia angielskich
    nazw:</h5>
  <a href="https://angular.io/api/common/I18nSelectPipe">Dokumentacja</a>
  <p>Poniedziałek to: ...</p>
  <p>Wtorek to: ...</p>
  <p>Środa to: ...</p>
  <p>Czwartek to: ...</p>
  <p>Piątek to: ...</p>
  <p>Sobota to: ...</p>
  <p>Niedziela to: ...</p>

  <br>

  <h5>5. Użyj pipe 'json' i wyświetl obiekt 'deepObject'</h5>
  <a href="https://angular.io/api/common/JsonPipe">Dokumentacja</a>
  <p>Wyświetl obiekt: ...</p>

  <br>

  <h5>6. Użyj pipe 'date' i wyświetl pole 'today'</h5>
  <a href="https://angular.io/api/common/DatePipe">Dokumentacja</a>
  <p>Wyświetl tylko datę: ...</p>
  <p>Wyświetl w formacie '9/2/19': ...</p>
  <p>Wyświetl w przykładowym formacie 'Monday, September 2, 2019': ...</p>
  <p>Wyświetl minuty i sekundy: ...</p>
  <p>Wyświetl godzinę i minuty: ...</p>
  <p>Wyświetl tylko rok: ...</p>
  <p>Wyświetl tylko dzień: ...</p>
  <p>Wyświetl tylko miesiąc: ...</p>

  <br>

  <h5>7. Jeżeli poznałeś już *ngFor to użyj pippe 'keyvalue' i wyświetl 'key' i 'value' z obiektu
    'weekdays'</h5>
  <a href="https://angular.io/api/common/KeyValuePipe">Dokumentacja</a>
  <p>
    ... : ...
  </p>
</div>
