<div class="container">
  <a class="btn" href="/property-binding/exercise">Zadania do wykonania</a>
  <h1>Property binding</h1>
  <h5>Bindowanie property [img]:</h5>
  <img [src]="imageURL">

  <h5>Bindowanie property [disabled]:</h5>
  <button [disabled]="isDisabled">Button</button>

  <h5>Bindowanie property [value]:</h5>
  <input [value]="taskTitle">

  <h5>Bindowanie property [rows] [cols]:</h5>
  <textarea [rows]="rowsNum" [cols]="colsNum"></textarea>

  <h5>Bindowanie propperty [class]:</h5>
  <div [ngClass]="someClassCss"></div>

  <h5>Bindowanie ppropperty [style]:</h5>
  <div [ngClass]="someClassCss" [style.background]="'red'"></div>

  <h5>Bindowanie do przycisku i trick z eventem:</h5>
  <input placeholder="Zacznij pisać, a będzie odblokowane" #blockedInput (input)="0"/>
  <button class="btn" [disabled]="blockedInput.value ===''">Wyślij</button>

  <h5>To bindowanie nie działa:</h5>
  <img src="imageURL">

  <h5>Tak lepiej nie bindować:</h5>
  <input [value]="'Stały tekst'">

  <h5>Leppiej to zrobić tak:</h5>
  <input value="Stały tekst">

  <h5>Bindowanie interpolacją:</h5>
  <img src="{{blackLogo}}">

  <h5>Zły przykład wyświetlenia HTML-a:</h5>
  <p>{{htmlValue}}</p>

  <h5>Dobry przykład wyświetlenia HTML-a za pomocą [innerHTML]:</h5>
  <p [innerHTML]="htmlValue"></p>

  <div [class.highlight]="isHighlight">podłączenie klasy CSS jeżeli 'isHighlight' jest true.</div>

  <h5>Napis przycisku zmienia kolor w zależności od wartości pola 'isDisabled'</h5>
  <button class="btn" [style.color]="isDisabled ? 'red': 'yellow'">Kolor</button>
</div>
