<div class="container">
  <h2>Ćwiczenia z Event Binding</h2>
  <p>1. Zbinduj metodę do eventu click, która wypisze do konsoli: 'Zrobione!'</p>
  <button class="btn">Done!</button>

  <p>2. Wykorzystaj jakiś event na polu input i pobierz wartość wpisywaną do pola. Wartość ma się
    pojawiać pod spodem w czasie wpisywania. Użyj pola 'textField' w klasie komponentu.</p>
  <input placeholder="Zacznij pisać">
  Wpisywana wartość: ..

  <p>3. Gdy kliknie się w pole tekstowe, powinna pojawić się pod spodem informacja: 'Zacznij pisać'.
    Gdy wyjdziemy z pola, napis powinien znikać. Użyj pola 'startTyping' w klasie komponentu.</p>
  <input placeholder="Zacznij pisać">
  Info: ...

  <p>4. Ambitne! Na elemencie div wykorzystaj event 'wheel'. Stwórz metodę, która rozpozna czy,
    kółko myszki kręci się do góry czy do dołu. Informację wypisz w elemencie div. Użyj pola
    'direction' i metodę 'wheelDirection' w klasie komponentu.</p>
  <div class="mouse-container">...</div>
</div>
