<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left">
      <li><a href="/interpolation">Interpolacja</a></li>
      <li><a href="/pipe">Pipe</a></li>
      <li><a href="/question-mark">Question Mark</a></li>
      <li><a href="/ng-for">ngFor</a></li>
      <li><a href="/event-binding">Event Binding</a></li>
      <li><a href="/property-binding">Property Binding</a></li>
      <li><a href="/ng-model">Ng Model</a></li>
      <li><a href="/ng-if">NgIf, NgSwitch</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
