<div class="container">
  <h2>Ćwiczenia z ngModel</h2>
  <p>Aktualnie FormsModule jest zaimportowany do AppModule i można korzystać z ngModel.</p>
  <h5>1. Zbinduj input do pola 'textInput' za pomocą ngModel. Wpisywany tekst powinien pojawić się
    pod
    polem tekstowym.</h5>
  <input>
  Wpisywany tekst: ...

  <h5>2. Ambitne! Na klawisz Enter wartość z pola powinna zostać zapisana do listy. Lita powinna
    być wyświetlona na bieżąco pod polem tekstowym. Po wpisaniu do listy, pole tekstowe powinno
    się czyścić.
  </h5>
  <input>
  Lista: ...
</div>
